<div id="timeline"></div>
<div class="commit-nav">
  <button id="newer-commit">Newer</button>
  <button id="older-commit">Older</button>
</div>
<div id="commit"></div>
<ul>
  {{#each models}}
  <li>
    {{cid}} <a id={{attributes.sha}} href="#">{{attributes.commit.committer.date}}</a>
  </li>
  {{/each}}
</ul>

