<p>This is list of commits</p>
<ul>
  {{#each models}}
  <li>
    {{cid}} <a id={{attributes.sha}} href="#">{{attributes.commit.author.date}}</a>
  </li>
  {{/each}}
</ul>
<button id="newer-commit">Newer</button>
<button id="older-commit">Older</button>
<div id="commit"></div>
