<button class="navigate-commit" data-direction="-1">Prev</button>
<button class="navigate-commit" data-direction="1">Next</button>
<p>Sha: {{commit.attributes.sha}}</p>
{{#if fileContents}}
  <pre><code>{{fileContents}}</code></pre>
{{else}}
  Please select a file
{{/if}}
