<p>This is list of commits</p>
<ul>
  {{#each models}}
  <li>
    {{cid}} <a id={{attributes.sha}} href="#">{{attributes.commit.author.date}}</a>
  </li>
  {{/each}}
</ul>
<button class="navigate-commit" data-direction="-1">Prev</button>
<button class="navigate-commit" data-direction="1">Next</button>
<div id="commit"></div>
