<div class="commit-list">
  <ul>
    {{#each models}}
    <li>
      {{cid}} <a id={{attributes.sha}} href="#">{{attributes.commit.committer.date}}</a>
    </li>
    {{/each}}
  </ul>
</div>

<div class="commit-controls">
  <div id="reset-timeline">Reset Timeline</div>
  <div id="timeline"></div>
  <div class="commit-nav">
    <button id="older-commit">Older</button>
    <button id="newer-commit">Newer</button>
  </div>
</div>
<div id="commit"></div>
