<div class="commit-controls">
  Click, drag, and scroll timeline to navigate timeline <a href="#" id="reset-timeline">(Reset view)</a>
  <div id="timeline"></div>
  <div class="commit-nav">
    <button id="older-commit">Older</button>
    <button id="newer-commit">Newer</button>
  </div>
</div>
<div id="commit"></div>
