<div class="content-area">
  {{#if rateLimit}}
  <h2>Rate Limit Exceeded</h2>
  <p>You have exceeded the rate limit. Please sign in below to increase your limit, or wait for your unauthenticated limit to be reset (every hour)</p>
  {{else}}
  <h2>Not Found</h2>
  <p>We couldn't find the content you were looking for. This could be because the repository is private. Please sign in and authorize the time machine app to view your private repos.</p>
  {{/if}}
  {{status403}}
  <p>
    <button class="signin btn">Sign In with Github</button>
  </p>
  <p>If you think this is a problem with the site, please <a href="https://github.com/patmood/git-time-machine/issues" target="_blank">create an issue</a> detailing how to replicate the issue.</p>

  <p>Thanks!</p>
</div>
