<h2>Index</h2>
<a href="signin">Sign in with GitHub</a><br>
<a href="signout">Signout</a>
<h3>Examples</h3>
<p>
  One commit for a file: <a href="/patmood/hugegif/blob/a56c23c7f9524f6b7f71ae316cf1c43178266bc2/js/main.js">/patmood/hugegif/blob/a56c23c7f9524f6b7f71ae316cf1c43178266bc2/js/main.js</a>
</p>
