<h2>Git Time Machine</h2>
<p>Time machine for your files on github! An easier way to view the history of a single file.</p>
<p>Useful for remembering "how that method used to work" or finding "that line you deleted weeks ago but did end up needing afterall"</p>
<a href="signin">Sign in with GitHub</a><br>
<a href="signout">Signout</a>

<h3>Step 1 - Install browser extension</h3>
<p>Extensions coming soon!</p>
<p><img src="images/browser_chrome.png"></p>

<h3>Step 2 - Find a file on github</h3>
<p>The browser extension adds a new button to the file view</p>
<p><img src="images/github_button.png"></p>

<h3>Step 3 - Travel through time!</h3>
<p>Watch lines of code change with each commit!</p>
<p><img src="images/time_machine_example.png"></p>

<h3>Example:</h3>
<p>
  One commit for a file: <a href="/patmood/hugegif/blob/a56c23c7f9524f6b7f71ae316cf1c43178266bc2/js/main.js">/patmood/hugegif/blob/a56c23c7f9524f6b7f71ae316cf1c43178266bc2/js/main.js</a>
</p>
