<h2>Index</h2>
<a href="signin">
  Sign in with GitHub
</a>
<h3>Examples</h3>
<ul>
  <li>All commits for a file: <a href="/repos/patmood/hugegif/commits?path=js/main.js">/repos/patmood/hugegif/commits?path=js/main.js"</a></li>
  <li>All commits: <a href="/repos/patmood/hugegif/commits">/repos/patmood/hugegif/commits</a></li>
  <li>One commit: <a href="/repos/patmood/hugegif/commits/e9aa2e2377da8ebb264b0b08eee00844f46cbe02">/repos/patmood/hugegif/commits/e9aa2e2377da8ebb264b0b08eee00844f46cbe02</a></li>
  <li>User info: <a href="/users/patmood">/users/patmood</a></li>
</ul>
