<h2>Index</h2>
<a href="signin">Sign in with GitHub</a><br>
<a href="signout">Signout</a>
<h3>Examples</h3>
<ul>
  <li>One commit for a file: <a href="/patmood/hugegif/blob/e9aa2e2377da8ebb264b0b08eee00844f46cbe02/js/main.js">/patmood/hugegif/blob/e9aa2e2377da8ebb264b0b08eee00844f46cbe02/js/main.js</a></li>


  <li>All commits for a file: <a href="/repos/patmood/hugegif/commits?path=js/main.js">/repos/patmood/hugegif/commits?path=js/main.js"</a></li>
</ul>
