<div class="landing-page content-area">
  {{! fork me on github --!}}
  <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

  <h1>Git Time Machine</h1>
  <p>Time machine for your files on github! An easier way to view the history of a single file.</p>
  <p>Useful for remembering how that constantly evolving method used to work or finding that line you deleted weeks ago but did end up needing afterall.</p>
  <p>
    <a href="/patmood/hugegif/blob/a56c23c7f9524f6b7f71ae316cf1c43178266bc2/js/main.js" class="btn">
      Try it!
    </a><br>
    <a href="/patmood/wobble-wockets/blob/9f6c0b07dcd0dfae3bb4af1ea3214f9570f085bc/game/states/play.js" class="btn">
      Private Repo test
    </a><br>
    (No browser extension required)
  </p>

  <h2>Step 1 - Install the Chrome extension</h2>
  <p>Other browsers coming soon!</p>
  <p>
    <a href="https://chrome.google.com/webstore/detail/git-time-machine/cbkeilfjfgflmjhohjkcecfbfbimpmkp" target="_blank"><img src="images/browser_chrome.png"></a>
    {{!-- <img src="images/browser_firefox.png">
    <img src="images/browser_safari.png"> --}}
  </p>

  <h2>Step 2 - Find a file on github</h2>
  <p>The browser extension adds a new button to the file view on github</p>
  <p><img class="screenshot" src="images/github_button.png"></p>

  <h2>Step 3 - Travel through time!</h2>
  <p>Watch lines of code change with each commit!</p>
  <p><img class="screenshot" src="images/time_machine_example.png"></p>

  <p>Created by <a href="http://patmoody.com">@patmood</a></p>
</div>
