<div class="content-area">
  <h2>Not Found</h2>
  <p>We couldn't find the content you were looking for. This could be because the repository is private. Please sign in and authorize the time machine app to view your private repos.</p>
  <p>
    <button class="signin btn">Sign In</button>
  </p>
  <p>If you think this is a problem with the site, please <a href="https://github.com/patmood/git-time-machine/issues" target="_blank">create an issue</a> detailing how to replicate the issue.</p>

  <p>Thanks!</p>
</div>
