html, body
  min-height: 100%

body
  font-family: sans-serif
  background: url('images/galaxy.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.headline, .headline a
  color: #fff
  text-align: center
  text-decoration: none

#content
  padding: 20px
  background-color: #fff
  border-radius: 5px
  max-width: 90%
  margin: auto

.commit-nav
  text-align: center

#commit
  overflow: scroll

#older-commit, #newer-commit
  font-size: 24px
  padding: 8px 50px
  background: #9C344C
  color: #fff
  border: none
  border-radius: 5px

.commit-list
  position: absolute
  font-size: 10px
  top: 200px
  right: 0
  width: 200px
  background: rgba(200, 54, 54, 0.5)

// Line numbers on code blocks
.pre
  position: relative
  margin-bottom: 24px
  border-radius: 3px
  border: 1px solid #C3CCD0
  background: #FFF
  overflow: hidden

.code
  display: block
  padding: 5px 24px
  overflow-y: auto
  font-weight: 300
  font-family: Menlo, monospace
  font-size: 0.8em

.code.has-numbering
  margin-left: 21px

.pre-numbering
  position: absolute
  top: 0
  left: 0
  width: 30px
  padding: 5px 2px 5px 0
  border-right: 1px solid #C3CCD0
  border-radius: 3px 0 0 3px
  background-color: #EEE
  text-align: right
  font-family: Menlo, monospace
  font-size: 0.8em
  color: #AAA
  margin: 0

