body
  font-family: sans-serif
  background: url('images/galaxy.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.headline, .headline a
  color: #fff
  text-align: center
  text-decoration: none

#content
  padding: 20px
  background-color: #fff
  border-radius: 5px
  max-width: 90%
  margin: auto

.commit-nav
  text-align: center

#older-commit, #newer-commit
  font-size: 24px
  padding: 8px 50px
  background: #9C344C
  color: #fff
  border: none
  border-radius: 5px
