body
  font-family: sans-serif
  background: url('images/galaxy.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.headline
  color: #fff
  text-align: center

#content
  padding: 20px
  background-color: #fff
  border-radius: 5px
  max-width: 90%
  margin: auto

