#commit
  overflow: scroll
  background-color: #fff
  border-radius: 5px
  width: 800px
  margin: auto
  transition: all 0.3s ease-in-out

  .info
    margin: 20px
    width: 100%

    .author
      display: inline-block
      text-align: center

    .avatar
      width: 50px

    .details
      display: inline-block
      vertical-align: top
      padding-left: 20px

  .file-contents
    .pre
      font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
      position: relative
      margin-bottom: 24px
      border-radius: 3px
      border: 1px solid #C3CCD0
      background: #FFF
      line-height: 1.2em
      overflow: hidden

    .code
      display: block
      padding: 5px 24px
      overflow-y: auto
      font-weight: 300
      font-family: Menlo, monospace
      font-size: 0.8em

    .code.has-numbering
      margin-left: 21px

    .pre-numbering
      position: absolute
      top: 0
      left: 0
      width: 30px
      padding: 5px 2px 5px 0
      border-right: 1px solid #C3CCD0
      border-radius: 3px 0 0 3px
      background-color: #EEE
      text-align: right
      font-family: Menlo, monospace
      font-size: 0.8em
      color: #AAA
      margin: 0


