@import 'vis'
@import 'timeline'

.commits
  padding: 20px
  background-color: #fff
  border-radius: 5px
  max-width: 90%
  margin: auto
  margin-bottom: 20px

  .commit-nav
    text-align: center

  #older-commit, #newer-commit
    font-size: 24px
    padding: 8px 50px
    background: #9C344C
    color: #fff
    border: none
    border-radius: 5px

