@import 'vis'
@import 'timeline'

.commits
  #timeline-container
    padding: 20px
    background-color: #fff
    border-radius: 5px
    max-width: 90%
    margin: auto

  .commit-nav
    padding: 20px
    text-align: center

  .toggle-button
    background-color: #2ecc71
    &:hover
      background-color: #27ae60


