html, body
  min-height: 100%

body
  font-family: sans-serif
  background: url('images/galaxy.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  line-height: 1.5em
  margin-bottom: 0px
  font-size: 16px
  color: #444

.headline, .headline a
  color: #fff
  text-align: center
  text-decoration: none
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
   font-weight: 300

h1, h2, h3
  line-height: 1.1em
  letter-spacing: normal
  color: #222
  font-weight: 400

h2
  letter-spacing: -0.02em

h3
  letter-spacing: -0.02em

a
  color: #428bca
  text-decoration: none

.btn
  background-color: #3498db
  color: #fff
  text-align: center
  font-size: 18px
  border: none
  border-radius: 5px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  position: relative
  padding: 0.3em 1em
  &:hover
    background-color: #2980b9

