.landing-page
  h1, h2, h3, p, img
    text-align: center

  .screenshot
    border: 1px solid #999;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);

