.landing-page
  padding: 20px
  background-color: #fff
  border-radius: 5px
  max-width: 90%
  margin: auto

  h1, h2, h3, p, img
    text-align: center

  .screenshot
    border: 1px solid #999;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);


