:root {
  /* SPACINGF */
  --space-0: 0;
  --space-1: 0.5em;
  --space-2: 1em;
  --space-3: 2em;
  --space-4: 4em;

  /* COLORS */
  --black: #222;
  --white: #ffffff;
  --yellow: #ffffcc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
